@model Asignatura

@{
    ViewData["Title"] = "Creación De Asignatura";
    Layout = "Simple";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewBag.Mensaje</h3>
<div asp-validation-summary="All"></div>

<form method="POST">
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" type="text" required/>
    </div>
    <input type="submit"/>
</form>

<p>@ViewBag.Fecha</p>